Main_Workflow.json
{"updatedAt":"2026-02-23T15:25:30.789Z","createdAt":"2026-02-23T12:56:25.534Z","id":"ma1JWk85VkPhVVKGtq5mr","name":"Main_Workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"return [{\n  \"event\": \"invoice.received\",\n  \"invoice\": {\n    \"invoice_number\": \"NF-20250219-39284\",\n    \"supplier_name\": \"Global Tech Supplies LTDA\",\n    \"supplier_cnpj\": \"84.756.123/0001-45\",\n    \"amount\": 12489.90,\n    \"currency\": \"BRL\",\n    \"issue_date\": \"2025-02-17\",\n    \"due_date\": \"2025-03-19\",\n    \"po_number\": \"PO-2025-17823\",\n    \"items\": [{ \"description\": \"Licenças de Software Anual\", \"quantity\": 5, \"unit_price\": 2497.98 }],\n    \"tax_amount\": 2248.18,\n    \"source\": \"email\",\n    \"file_url\": \"https://storage.company.com/invoices/NF-39284.pdf\"\n  }\n}];"},"id":"f9466aac-c8a6-4b54-aabf-557ecb5311a9","name":"JSON_ENTRADA_OBRIGATORIO","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,176]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.invoice.amount }}","operation":"larger","value2":10000}]}},"id":"cdd881d6-cc28-4773-9c0b-150a92cd15e7","name":"Regra: Valor > 10k?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-416,176]},{"parameters":{"method":"POST","url":"https://webhook.site/6fef1f83-8481-48e2-9975-500b6a257593","sendBody":true,"bodyParameters":{"parameters":[{"name":"status","value":"Fatura Processada"},{"name":"detalhes","value":"={{ $json.text || 'Processado (IA Offline)' }}"}]},"options":{}},"id":"0dd3856c-7c8b-46f7-9fa2-8e37e256835f","name":"Notificacao_Final","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[96,176]},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1056,176],"id":"fd5a4c02-50e5-4ba9-b4d4-759942af33da","name":"When clicking ‘Execute workflow’"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.5-flash-lite","mode":"list","cachedResultName":"models/gemini-2.5-flash-lite"},"messages":{"values":[{"content":"=Analise a fatura {{ $json.invoice.invoice_number }} de R$ {{ $json.invoice.amount }}. O valor é compatível com {{ $json.invoice.items[0].description }}?"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1.1,"position":[-208,80],"id":"8e1d0c72-e3fb-487a-9b0f-8a2249af258d","name":"Message a model","credentials":{"googlePalmApi":{"id":"fCbi2KZCYSyRnxNc","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"MajmKpE-7gQ9ZLHmXRMFB","mode":"list","cachedResultUrl":"/workflow/MajmKpE-7gQ9ZLHmXRMFB","cachedResultName":"Standard_Logger.json"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-848,176],"id":"09651e03-d891-403b-acf2-7436b781da64","name":"Call 'Standard_Logger.json'"},{"parameters":{"workflowId":{"__rl":true,"value":"431wHc8SZWTRbVxW0nOWW","mode":"list","cachedResultUrl":"/workflow/431wHc8SZWTRbVxW0nOWW","cachedResultName":"Error_Handler"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[304,176],"id":"86c33126-143a-4336-81fe-81696c72c2d3","name":"Call 'Error_Handler'"}],"connections":{"JSON_ENTRADA_OBRIGATORIO":{"main":[[{"node":"Regra: Valor > 10k?","type":"main","index":0}]]},"Regra: Valor > 10k?":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Call 'Standard_Logger.json'","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Notificacao_Final","type":"main","index":0}]]},"Call 'Standard_Logger.json'":{"main":[[{"node":"JSON_ENTRADA_OBRIGATORIO","type":"main","index":0}]]},"Notificacao_Final":{"main":[[{"node":"Call 'Error_Handler'","type":"main","index":0}]]}},"settings":{"executionOrder":"v0","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","timezone":"America/Sao_Paulo"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c75c1ca0-dd4f-4408-a76b-8e7934dd0f48","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-23T12:56:25.534Z","createdAt":"2026-02-23T12:56:25.534Z","role":"workflow:owner","workflowId":"ma1JWk85VkPhVVKGtq5mr","projectId":"vdohX9n1BQvteOwR"}],"activeVersion":null,"tags":[]}