library/Error_Handler.json
{"updatedAt":"2026-02-23T14:24:34.740Z","createdAt":"2026-02-22T00:40:18.357Z","id":"5czYqI_z17i_xZn4CJV-P","name":"LIB - Error Handler","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-512,-32],"id":"8feb72f6-8718-434e-9ffc-654f1ee3feda","name":"Error Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"9efa2b31-f25e-4c91-9060-ff156639a326","name":"workflow_nome","value":"={{ $workflow.name }}","type":"string"},{"id":"66957717-43ea-4fe9-97a5-31cc3fa48eaa","name":"error_message","value":"={{ $json.message }}","type":"string"},{"id":"93655600-1bab-4356-aafc-23e6386d9c5b","name":"error_stack","value":"={{ $json.stack }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,-32],"id":"72664dc3-66df-4f96-818e-a94ecb6f904a","name":"Edit Fields"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-64,-32],"id":"4418ae8e-4898-4284-bbc1-3eba5e7214be","name":"Insert rows in a table"}],"connections":{"Error Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Insert rows in a table","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"7e715bf4-6d8c-41c5-b0d0-7157d93b862c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-22T00:40:18.357Z","createdAt":"2026-02-22T00:40:18.357Z","role":"workflow:owner","workflowId":"5czYqI_z17i_xZn4CJV-P","projectId":"vdohX9n1BQvteOwR"}],"activeVersion":null,"tags":[{"updatedAt":"2026-02-22T01:06:04.367Z","createdAt":"2026-02-22T01:06:04.367Z","id":"PxYDaVKazh5xyDT5","name":"🛡️LIB"}]}